body {
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(10,56,193,1) 0%, rgba(10,218,255,1) 35%, rgba(156,46,255,1) 100%);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }


#nosotros{
    background-color:#F0F2F2;
}
#productos{
    background-color:#F0F2F2;
}
#contacto{
    background-color:#F0F2F2;
}
.card-productos{
    background-image: url(/img/img-card/fondotnt.jpeg);
    background-size: 100%;
    padding: 0;
}
footer{
    color: white;
    background-color: black;
    width: 60vh;
}

/* Estilizacion de enlaces */
.estilo-p{
    text-decoration: none;
    color: rgb(10,56,193)k;
    font-size: 1rem;
    font-weight: 600;
}

/*Estilo del toggler*/

  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
  } 

  .padding{
    padding: 0;
}

/* Breaking point */
@media only screen and (max-width: 767px){ 
    .separacion{
    margin-top: 1rem;
    } 
    .padding{
        width: 24.18rem;
        height: 46.18rem;
        margin-top: 1rem;
    }
    .contacto{  
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
   
}


@media only screen and (max-width: 993px){ 
    .separacion{
    margin-top: 1rem;
    } 
    .padding{
        width: 24.18rem;
        height: 46.18rem;
        margin-top: 1rem;
    }
    .contacto{  
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}

/* Estilizado de letras  */
.font-nav{
    font-family: 'Martian Mono', monospace;
    font-size: 0.7rem;
}
.font-nav:hover{
    background-color: rgba(191, 204, 200, 0.384);
    box-shadow: 1px 1px 1px  grey ;
}
.font-toggler{
    background-color: rgba(12, 0, 0, 0.158);
}
.font-card{
    font-family: Arial, Helvetica, sans-serif;
    font-variant: inherit;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(5, 0, 10);
}
.font-card-tittle{
    font-family: 'Martian Mono', monospace;
    font-weight: 200;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;

}
.font-footer{
    font-family: 'Martian Mono', monospace;
    font-size: 0.5rem;
}