body {
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, rgba(10,56,193,1) 0%, rgba(10,218,255,1) 35%, rgba(156,46,255,1) 100%);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }


#nosotros{
    background-color:#F0F2F2;
}
#productos{
    background-color:#F0F2F2;
}
#contacto{
    background-color:#F0F2F2;
}
.card-productos{
    background-image: url(/img/img-card/fondotnt.jpeg);
    background-size: 100%;
    padding: 0;
}
footer{
    color: white;
    background-color: black;
    width: 60vh;
}

/* Estilizacion de enlaces */
.estilo-p{
    text-decoration: none;
    color: rgb(10,56,193)k;
    font-size: 1rem;
    font-weight: 600;
}

/*Estilo del toggler*/
.navbar-toggler:hover{
    color: #ffa260;
}
.navbar-toggler:focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}
.navbar-toggler{
    --color: #ffa260;
    --hover: #e5ff60;
  }
  button {
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  button:hover, button:focus {
    border-color: var(--hover);
    color: #fff;
  }

  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
  }

  .padding{
    padding: 0;
}

/* Breaking point */
@media only screen and (max-width: 767px){ 
    .separacion{
    margin-top: 1rem;
    } 
    .padding{
        width: 24.18rem;
        height: 46.18rem;
        margin-top: 1rem;
    }
    .contacto{  width: 387px;
        height: 46.18rem;
        margin-top: 20px;
        margin-bottom: 1rem;
    }
   .navbar-toggler{
    background-color: #afb2bb3a;
   }
   .font-nav{
    color: #ffa260;
   }
}


@media only screen and (max-width: 993px){ 
    .separacion{
    padding: 10%;
    margin-top: 1rem;
    } 
    .padding{
        width: 24.18rem;
        height: 46.18rem;
        margin-top: 1rem;
    }
    .contacto{  width: 24.18rem;
        height: 46.20rem;
        margin-top: 20px;
        margin-bottom: 1rem;
    }
   .navbar-toggler{
    background-color: #afb2bb3a;
   }
   .font-nav{
    color: #ffa260;
   }
}